KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="kafka"
    password="123456"
    user_kafka="123456"
    user_admin="123456"
    user_userX="123456"
    user_userY="123456";

    org.apache.kafka.common.security.scram.ScramLoginModule required;
};

Client {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="kafka"
    password="123456";
};