Server {
    org.apache.zookeeper.server.auth.DigestLoginModule required
    username="super"
    password="123456"
    user_super="123456"
    user_kafka="123456";
};

QuorumServer {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       user_zookeeper="123456";
};
 
QuorumLearner {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="zookeeper"
       password="123456";
};